set scrolloff=10
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "


set surround
set highlightedyank
set sneak
set nerdtree
set easymotion
set notimeout

set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_display = "<leader>d Display options"

let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"


" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)


" Comment lines
map <leader>c <action>(CommentByLineComment)

" Open NERDTree (use q to exit)
map <leader>e :NERDTreeToggle<CR>


" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)


" Go to code
nmap <leader>D <Action>(GotoDeclaration)

nnoremap <leader>th :action ActivateTerminalToolWindow<CR>


nnoremap <leader>\ :action SplitVertically<CR>
nnoremap <leader>- :action SplitHorizontally<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

map <leader>/ <action>(CommentByLineComment)
map <leader>q <action>(CloseContent)
