set scrolloff=10
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "


set surround
set highlightedyank
set sneak
set nerdtree
set easymotion
set notimeout
set multiple-cursors
set commentary

set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_display = "<leader>d Display options"

let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

let g:WhichKeyDesc_terminal = "<leader>t [T]erminal"

let g:WhichKeyDesc_terminalhorizontal = "<leader>th [H]orizontal"


let g:WhichKeyDesc_search = "<leader>s [S]earch"

let g:WhichKeyDesc_surround = "<leader>w [W]rap"
let g:WhichKeyDesc_fixmeny = "<leader>f [F]ix menu"

let g:WhichKeyDesc_splithor = "<leader>- Split horizontaly"
let g:WhichKeyDesc_splitver = "<leader>\\ Split vertically"
let g:WhichKeyDesc_recent = "<leader><leader> Recent files"
let g:WhichKeyDesc_comment = "<leader>/ Comment"
let g:WhichKeyDesc_filetree = "<leader>e File tree"
let g:WhichKeyDesc_quit = "<leader>q [Q]uit"
let g:WhichKeyDesc_move = "<leader>m [M]ove to opposite"
let g:WhichKeyDesc_decl = "<leader>D Go to [D]eclaration"


" Open NERDTree (use q to exit)
map <leader>e :NERDTreeToggle<CR>


" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)


" Go to code
nmap <leader>D <Action>(GotoDeclaration)

nnoremap <leader>th :action ActivateTerminalToolWindow<CR>
nnoremap <c-j> :action HideActiveWindow<CR>


nnoremap <leader>\ :action SplitVertically<CR>
nnoremap <leader>- :action SplitHorizontally<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

map <leader>/ <action>(CommentByLineComment)
map <leader>q <action>(CloseContent)

nnoremap <leader>sf :action GotoFile<CR>
map <leader><leader> <Action>(RecentFiles)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

map <leader>w :action SurroundWith<CR>
map <leader>f :action ShowIntentionActions<CR>
map <leader>z <action>(ToggleZenMode)

